             {% for entity in entities %}

<li>
                  <div class="product-img">
                      <a href="">
                         <img src="{{ asset(entity.image.AssetPath) }}" alt="" width="100" height="100">
                          
                      </a>
                      
                     
                  </div>
                      <h4 class="libelle">
                          <a href="#">{{ entity.nom }}</a>
                      </h4>
                       {%if entity.prix == 0%}
                      <h3 class="price">Prix non spécifié </h3>
                      {% else %}
                                            <h3 class="price">{{ entity.prix }} DT</h3>

                        {% endif %}
                      
                      
                        
                    <div class="dbl-btn">
                        <button class="voir"><i class="fa fa-shopping-cart"></i>
                            {% if entity.disponible == 1 %}
                          <strong >disponible</strong>
                        {% else %}
                            <strong  >hors stock</strong>
                        {% endif %}  
                        
                        
                        </button>
                    </div>    
                         
                         
                         
                         
                         
                     </li>
                     
                     
                      {% endfor %}